# Основы языка Python

In [ ]:
int
bool
float

dict
list
set
tuple

a = (1,2,3)
тип переменной a - ? tuple

a = {1,2,3}
тип переменной a - set - только уникальные значения

чем set отличается от list?

a = [1,2,3,3]

In [ ]:
a = {}

# тип переменной a - ?
type(a)

dict

In [ ]:
s = 'Hello'

# что собой представляет строка в питоне? список , который из отдельных символов
# s[0:4] - срез

# s[start:stop-1:step]

'o'

## Условия

Использование условий в языке python похоже на любой другой язык.

```
if (условие):
____код
elif (условие):
____код
else:
____кода
```
Или
```
if (условие):
____код
else:
____кода
```
Или
```
if (условие):
____код
```

Обратите внимание, на необходимость использования отступов для корректной интерпретации кода.

**В отличии от других языков, отступы в Python необходимы для корректного исполнения кода.**

In [ ]:
x = input() # всегда возвращает тип str

hello

In [ ]:
type(x)

str

In [ ]:
x = int(x)
type(x)

ValueError: ignored

In [ ]:
x = int(input())

if x > 0:
    print('Положительная зона')
    print(x)
else:
    print('Неположительная зона')
    print(x)

7
Положительная зона
7

In [ ]:
x = int(input())

if -10 < x < 10:
    print('Да, это число принадлежит диапазону (-10,10)')

print("hello")

-20
hello

Для формирования сложных условий можно использовать логические операции и различные операторы сравнения.

Операторы сравнения:  
`<` Меньше — условие верно, если первый операнд меньше второго.  
`>` Больше — условие верно, если первый операнд больше второго.  
`<=` Меньше или равно.  
`>=` Больше или равно.

`==` Равенство. Условие верно, если два операнда равны.  
`!=` Неравенство. Условие верно, если два операнда неравны.  
`a <= x <= b` - x находится в интервале от a до b.

Логические операции:  
`and` - логическое "И"  
`or` - логическое "Или"  
`not` - логическое "Отрицание"

In [ ]:
and = * | or
0 0 = 0 = 0
0 1 = 0 = 1
1 0 = 0 = 1
1 1 = 1 = 1

In [ ]:
a = int(input())
b = int(input())
x = int(input())

if a <= x <= b and x > 0:
    # True and False = False
    print('YES')
else:
    print('No')

1
5
10
No

Для проверки наличия элементов в спиcке используется операция

```
in
```

In [ ]:
A = [1, 2, 3, 4, 5, 6, 7, 8]
b = int(input())

if b in A:
  print('yes')
else:
  print('no')

5
yes

### Задача "Високосный год"

Дано натуральное число. Требуется определить, является ли год с данным номером високосным. Если год является високосным, то выведите YES, иначе выведите NO. Напомним, что в соответствии с григорианским календарем, год является високосным, если его номер кратен 4, но не кратен 100, а также если он кратен 400.

In [ ]:
# ваше решение
year = int(input())

if (year%4 == 0 and year%100 != 0) or year%400 != 0:
    print('Високосный год')
else:
    print('Не високосный год')

2008
Весокосный год

##Циклы for и while

Циклы python — for и while представляют собой операторы языка программирования, то есть операторы итерации, которые позволяют повторять код определенное количество раз.

In [ ]:
A = [1,2,3,5]

A[0] += 1
A[1] += 1
A[2] += 1
A[3] += 1

###Синтаксис цикла `For`

Как уже упоминалось ранее, цикл for в Python является итератором, основанным на цикле. Он проходит по элементам list и tuple, строкам, ключам словаря и другим итерируемым объектам.

В Python цикл начинается с ключевого слова for, за которым следует произвольное имя переменной, которое будет хранить значения следующего объекта последовательности. Общий синтаксис for...in в python выглядит следующим образом:

```
for <переменная> in <последовательность>:
    <действие>
else:
    <действие>
```

Элементы «последовательности» перебираются один за другим «переменной» цикла; если быть точным, переменная указывает на элементы. Для каждого элемента выполняется «действие».

In [ ]:
lst = [10,5,3,7,8]
0,1,2,3,4

In [ ]:
week = ['пн', 'вт', 'ср', 'чт', 'пт', 'сб']

for i in week:
    # i - значение week
    print(f'Идти в школу в {i}')
else:
    print('Сегодня выходной')

Идти в школу в пн
Идти в школу в вт
Идти в школу в ср
Идти в школу в чт
Идти в школу в пт
Идти в школу в сб
Сегодня выходной

In [ ]:
len(week)

6

In [ ]:
range(len(week)) # range(6): от до 6-1 с шагом 1
# 0 1 2 3 4 5

In [ ]:
# range(start, stop-1, step) - генерирует список
# start = 0 - по дефолту
# step = 1 - по дефолту
# list(range(start,stop,step))
list(range(0,5,1))

[0, 1, 2, 3, 4]

In [ ]:
for i in range(len(week)):
    # i - индексы week
    print(f'Идти в школу в {week[i]}')

Идти в школу в пн
Идти в школу в вт
Идти в школу в ср
Идти в школу в чт
Идти в школу в пт
Идти в школу в сб

In [ ]:
lst = [1,3,6,1,9]
len(lst)

lst[0] += 1
lst[1] += 1
....

5

In [ ]:
list(range(len(lst)))

[0, 1, 2, 3, 4]

In [ ]:
lst = [1,3,6,1,9]
# [2,4,7,2,10]

# к каждому элементу списка необходимо добавить число 1
for i in lst:
    # в переменной i лежит значение элемента списка
    i += 1

print(lst)

for i in range(len(lst)):
    # в данном случае в переменной i лежат индексы элементов списка
    lst[i] += 1

print(lst)

[1, 3, 6, 1, 9]
[2, 4, 7, 2, 10]

In [ ]:
list(enumerate(lst))
# [2, 4, 7, 2, 10]

[(0, 2), (1, 4), (2, 7), (3, 2), (4, 10)]

In [ ]:
for index, value in enumerate(lst):
    # в данном случае в переменной index лежат индексы элементов списка
    # в переменной value значение элемента списка
    print(f'This is index: {index}, this is value: {value}')
    value += 1
    lst[index] += 1

This is index: 0, this is value: 2
This is index: 1, this is value: 4
This is index: 2, this is value: 7
This is index: 3, this is value: 2
This is index: 4, this is value: 10

In [ ]:
list(enumerate(lst))

[(0, 1), (1, 3), (2, 6), (3, 1), (4, 9)]

In [ ]:
lst = [1,3,6,1,9]
# к каждому элементу списка необходимо добавить число 1
for i in lst:
    # в переменной i лежит значение элемента списка
    i += 1

lst

Блок else является особенным.

Он будет выполнен только в том случае, если цикл не был «остановлен» оператором break. Таким образом, он будет выполнен только после того, как все элементы последовательности будут пройдены.

Если в программе цикл for должен быть прерван оператором break, цикл будет завершен, и поток программы будет продолжен без выполнения действий из else.

Обычно фразы **break** в Python связаны с условными операторами.

In [ ]:
names = ["Петр", "Иван", "Максим", "Мария"]

# Цикл по очередно перебирает имена в списке
# Как только мы нашли имя Максим, цикл необходимо преравать и не просматривать следующие элементы
for name in names:
    if name == "Максим":
        print("Меня зовут Максим!")
        break
    print("Другие имена", name)
else:
    print("Спасибо, теперь я знаю все имена")

Другие имена Петр
Другие имена Иван
Меня зовут Максим!

Оператор пропуска Python — **continue**

Предположим, имя "Максим" нам нужно просто пропустить и продолжить дальше перебор имен. Тогда нужно использовать оператор continue, для перехода к следующему элементу.

В следующем маленьком скрипте python мы используем continue, чтобы продолжить, итерацию по списку, когда мы сталкиваемся с нужным именем.

In [ ]:
names = ["Петр", "Иван", "Максим", "Мария", "Максим"]

for name in names:
    if name == "Максим":
        print("Меня зовут Максим!")
        continue
    print("Другие имена", name)
    # code
else:
    print("Спасибо, теперь я знаю все имена")

Другие имена Петр
Другие имена Иван
Меня зовут Максим!
Другие имена Мария
Меня зовут Максим!
Спасибо, теперь я знаю все имена

In [ ]:
for i in range (1, 3):
  i = 10
  print(i)
  i = 11
  print(i)
  i = 12
  print(i)

#### Задача «Количество нулей»

Вам дан список из N элементов (можете создать сами, либо организовать ввод с клавиатуры), необходимо посчитать сколько чисел в данном списке являются 0.

In [ ]:
# Ваше решение

### Синтаксис `while`


```
while <условие (булевское выражение)>:
    <code>
else:
    <code>
```

Здесь код, написанный вместо `code` будет выполняться каждую итерацию цикла, пока условие после `while` будет выполняться.

Посмотрим на примере: Напишем цикл, в котором будем выводить переменную x и увеличивать x на 1, пока x не станет больше 10:

In [ ]:
x = int(input())

while (x <= 10) or ():
    print(x)
    # более удобный способ записи x = x + 1
    x += 1

1
2
3
4
5
6
7
8
9
10

Цикл while является своего рода условным оператором. Вот что значит этот код: пока переменная i меньше 10, её нужно выводить на экран. Далее, в конце, мы увеличиваем её значение на единицу. Если вы запустите этот код, он выдаст от 1 до 10, каждая цифра будет в отдельной строке, после чего задача будет выполнена. Если вы удалите ту часть, в которой мы увеличиваем значение i, то мы получим бесконечный цикл.

В циклах `while` также можно использовать оператор break и continue.

In [ ]:
x = 1

while x < 10:
    print(x)

    if x == 5:
        break

    x += 1

1
2
3
4
5

In [ ]:
x = 1

while x < 10:
    if x == 3:
        x += 1
        continue

    print(x)
    if x == 5:
        break

    x += 1

1
2
4
5

In [ ]:
x = 1

while x < 10:
    x += 1
else:
    print(f'This is else {x}')

This is else 10

#### Задача "Второй максимум"

Последовательность состоит из различных натуральных чисел и завершается числом 0. Определите значение второго по величине элемента в этой последовательности. Гарантируется, что в последовательности есть хотя бы два элемента.

In [ ]:
# ваше решение

## Генераторы списков

Генераторы список - удобный способ создания списоков в Python. В его основе хоть и лежат циклы, но для использовани генераторов глубокого понимания циклов не нужно.

Вывести список всех кубов ряда от 0 до 6.

In [ ]:
example = [0, 1, 2, 3, 4, 5, 6]

for i in range(len(example)):
    example[i] = example[i]**3

example

[0, 1, 8, 27, 64, 125, 216]

In [ ]:
example = [0, 1, 2, 3, 4, 5, 6]

example = [i**3 for i in example]

print(*example, '- кубы')

0 1 8 27 64 125 216 - кубы

Вывести список из i элементов равных i в ряду четных цифр от 1 до 7

In [ ]:
ex = [1, 2, 3, 4, 5, 6, 7]

for i in ex:
    if i % 2 == 0:
        i = i**3
        print(i)

8
64
216

In [ ]:
ex = [1, 2, 3, 4, 5, 6, 7]
arr = [i**3 for i in ex if i % 2 == 0]
print(arr)
print(len(arr))

[8, 64, 216]
3

In [ ]:
s = '9' # str

int(s) # int

In [ ]:
#
s = 'kdjfl9hs18hs0hs6'
# ASCII
# result = [9, 1, 8, 0, 6] -> int
result = []
for i in s:
    if '0' <= i <= '9':
        result.append(int(i))

result

[9, 1, 8, 0, 6]

In [ ]:
s = 'kdjfl9hs18hs0hs6'

result = [int(i) for i in s if '0' <= i <= '9']

result

[9, 1, 8, 0, 6]